doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title=title
    link(rel='icon' type='image/png' href='images/logo-bg.png')
    // Fonts Online
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    // Style Sheet
    link(rel='stylesheet' href='/css/owl.carousel.css' type='text/css')
    link(rel='stylesheet' href='/css/main-style.css' type='text/css')
    link(rel='stylesheet' href='/css/style.css' type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
#main-wrapper
    .box-shadow-for-ui
        .uou-block-2b
            .container
                a.logo(href='index.html')
                    img(src='images/logo.png' alt='')
                a.mobile-sidebar-button.mobile-sidebar-toggle(href='#')
                    span
                nav.nav
                    ul.sf-menu
                        li.active
                            a(href='listing-filter.html')
                                i.fa.fa-search
                        li
                            a(href='index.html') Pages
                            ul
                                li
                                    a(href='profile_company.html') Profile Company
                                li
                                    a(href='profile_company-no-tabs.html') Profile Company No Tabs
                                li
                                    a(href='user-dashboard(connections)(hotkeys-disabled).html') User Dashboard 1
                                li
                                    a(href='user-dashboar\
                  d(connections)(hotkeys-enabled).html') User Dashboard 2
                                li
                                    a(href='user-dashboard(followers).html') User Dashboard 3
                                li
                                    a(href='user-dashboard(following).html') User Dashboard 4
                        li
                            a(href='gui-kit.html') GUI KIT
        // end .uou-block-2b
    // HOME PRO
    .home-pro
        // PRO BANNER HEAD
        .banr-head
            .container
                .row
                    // CONTENT
                    .col-sm-7
                        .text-area
                            .position-center-center.col-md-10
                                h1 Inspiring one-on-one conversations with industry experts and thought leaders.
                                .uou-block-8d
                                    a(href='listing-filter.html')
                                        i.fa.fa-search
                                    h6 Find people who are interested in talking about what you&apos;re passionate about.
                    // FORM SECTION
                    .col-sm-5
                        .login-sec
                            // TABS
                            .uou-tabs
                                ul.tabs
                                    li
                                        a(href='#register') Sign Up
                                    li.active
                                        a(href='#log-in') Login
                                // REGISTER
                                .content
                                    #register
                                        form(action='http://localhost:3000/create' method='get')
                                            input(type='text' placeholder='Full Name' name='name')
                                            input(type='email' placeholder='Email Address' name='email')
                                            input(type='text' placeholder='Phone' name='phone')
                                            input(type='password' placeholder='Password' name='password')
                                            button(type='submit') Register
                                    // LOGIN
                                    #log-in.active
                                        form
                                            input(type='email' placeholder='Email Address')
                                            input(type='password' placeholder='Password')
                                            button(type='submit') Login
                                            .forget
                                                | Forgot your password?
                                                a(href='#.') Click Here
                                    #forget
                                        form
                                            input(type='email' placeholder='Email Address')
                                            button(type='submit') Login
        // SERVICES
        section.services
            // SERVICES ROW
            ul.row
                // SECTION
                li.col-md-4
                    .ser-inn
                        i.fa.fa-globe
                        h4
                            | Stay in touch with your
                            | colleagues
                        i.fa.fa-globe.big
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.
                // SECTION
                li.col-md-4
                    .ser-inn
                        i.fa.fa-book
                        h4
                            | Get the latest news
                            | in your industry
                        i.fa.fa-book.big
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.
                // SECTION
                li.col-md-4
                    .ser-inn
                        i.fa.fa-picture-o
                        h4
                            | Share what&rsquo;s up
                            | with you
                        i.fa.fa-picture-o.big
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue conseqaut nibbhi ellit ipsum consectetur.
        // PRO SECTION
        section.pro-content
            .container-fluid
                .row
                    // PRO IMAGE
                    .col-md-6.pro-inside(style='background:url(images/pro-img-1.jpg) center center no-repeat;')
                    // PRO CONTENT
                    .col-md-6.pro-inside
                        .position-center-center.col-md-6
                            h1
                                | Interact with other
                                | professionals
                            p
                                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                | accusantium doloremque laudantium, totam rem aperiam,
                                | eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                | beatae vitae dicta sunt explicabo.
            // PRO SECTION
            .container-fluid
                .row
                    // PRO TEXT
                    .col-md-6.pro-inside
                        .position-center-center.col-md-6
                            h1
                                | Collaborate on a
                                | project
                            p
                                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                | accusantium doloremque laudantium, totam rem aperiam,
                                | eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                | beatae vitae dicta sunt explicabo.
                    // PRO BACKGROUND
                    .col-md-6.pro-inside(style='background:url(images/pro-img-2.jpg) center center no-repeat;')
// Footer
.uou-block-4e
    .container
        .row
            a.logo(href='#')
                img(src='images/logo.png' alt='')
            ul.contact-info.has-bg-image.contain(data-bg-image='images/footer-map-bg.png')
                li
                    i.fa.fa-map-marker
                    address
                        | 795 Folsom Ave, Suite 600, San Francisco, CA 94107
                li
                    i.fa.fa-phone
                    a(href='tel:#') (123) 456-7890
                li
                    i.fa.fa-envelope
                    a(href='mailto:#') first.last@example.com
// end .uou-block-4e
.uou-block-4a.secondary.dark
    .container
        ul.links
            li
                a(href='#') Privacy Policy
            li
                a(href='#') Terms &amp; Conditions
        p
            | 2019
            a(href='#') Mind-Date
            | .
// end .uou-block-4a
.uou-block-11a
    h5.title Menu
    a.mobile-sidebar-close(href='#') &times;
    nav.main-nav
        ul
            li.active
                a(href='index.html') Index
            li
                a(href='listing-filter.html') Professionals
            li
                a(href='profile_company.html') Profile Company
            li
                a(href='profile_company-no-tabs.html') Profile Company No Tabs
            li
                a(href='user-dashboard(connections)(hotkeys-disabled).html') User Dashboard 1
            li
                a(href='user-dashboard(connections)(hotkeys-enabled).html') User Dashboard 2
            li
                a(href='user-dashboard(followers).html') User Dashboard 3
            li
                a(href='user-dashboard(following).html') User Dashboard 4
            li
                a(href='user-profile(layout-1).html') User Profile
            li
                a(href='gui-kit.html') GUI KIT
    hr
// Scripts
script(src='https://maps.googleapis.com/maps/api/js')
script(src='js/jquery-2.1.3.min.js')
script(src='js/bootstrap.js')
script(src='js/plugins/superfish.min.js')
script(src='js/jquery.ui.min.js')
script(src='js/plugins/rangeslider.min.js')
script(src='js/plugins/jquery.flexslider-min.js')
script(src='js/uou-accordions.js')
script(src='js/uou-tabs.js')
script(src='js/plugins/select2.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/gmap3.min.js')
script(src='js/scripts.js')
script.
